.ignore {
	pointer-events: none;
}

#canvas {
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	height: 500px;
    -webkit-transition-duration: 0.3s;
}

.drag-enter {
	-webkit-transform: scale(1.02);
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
}

.invisible {
	opacity: 0.5;
}

.tag {
	margin-top: 10px;
	position: relative;
	-webkit-transition-duration: 0.3s;
}

.title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
	text-align: center;
}

.title-input {
	text-align: center;
}

.option-bar {
	float: right;
	margin-top: 8px;
	width: 80px;
	position: absolute;
	top: 0px;
	left: -80px;
}

.icon {
	margin-left: 5px;
	margin-right: 5px;
}

.move-left {
	-webkit-transform: translateX(80px);
}

.move {
	cursor: move;
}

.edit{
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.popout {
	position: absolute;
    top: 25%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 300px;
    z-index: 1000;
    background-color: white;
    box-shadow: -2px 2px 60px rgb(200, 200, 200);
    padding: 15px;
}